body {
  font: 16px 'Odibee Sans', "Century Gothic", Futura, cursive, sans-serif;
  margin: 20px;
}
.marked{
  color:orange;
}
ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 37px;
  font-weight: bold;
  line-height: 34px;
  max-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  max-width: 100px;
  width: 90px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.title {
  margin: 0 auto;
}

.title .fas{
  display:inline;
  margin-left: 20px;
  cursor:pointer;
  font-size: 1.5em;
}

.title .fas:hover{
  color:orange;
}
.title .game-title {
  font-size: 3em;
  text-align: center;
  display:inline;
}

.game {
  /* max-width:500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap:wrap; */
}

.board-row {
  width: 100%;
}

.game-info {
  margin-top: 20px;
  font-size: 1.2em;
}

.winner-name {
  font-size: 1.3em;
  text-decoration: underline;
}

.jumpTo-button {
  border-color: #fff;
}

.history-li{
  margin-top:5px;
}

